Repository Techcable/threadid.rs: changes, and which lefthook commands are due for each by the changed paths.
All: taplo, cargo-rdme

lefthook.yml:

skip_output:
  - meta
  - success
  - summary
# most commands are run through 'uv run' to get a consistent version
# this costs ~10ms each
pre-commit:
  parallel: true
  commands:
    rustfmt:
      tags: formatter
      # cargo assumed to be correct version, controlled via rustup
      run: cargo +nightly fmt --check
    taplo:
      tags: formatter
      glob: "*.toml"
      # No need to --force-exclude for taplo
      run: taplo format --check -- {staged_files}
      env:
        # without this, taplo is very verbose
        RUST_LOG: warn
    typos:
      tags: spellcheck
      run: typos --force-exclude --format=brief -- {staged_files}
    cargo-rdme:
      run: cargo rdme --check
      glob:
        - "src/lib.rs"
        - "README.md"
# takes one parameter - the file with the proposed commit message
# access through lefthook with `{1}`
#
# If this hook fails, a backup of the commit message is saved in .git/
commit-msg:
  commands:
    typos-commit:
      tags: spellcheck
      run: typos -- {1}

Fix clippy pedantic lints
  src/debug.rs
  src/lib.rs
  src/live.rs
  src/locals.rs
  src/std.rs
  src/unique.rs
Due: cargo-rdme

Improve documentation
  Cargo.toml
  Justfile
  README.md
  src/debug.rs
  src/lib.rs
  src/unique.rs
Due: taplo, cargo-rdme

Improve error messages for bad feature combos
  src/lib.rs
  src/locals.rs
  src/unique.rs
Due: cargo-rdme

Indicate thread_name example requires std
  Cargo.toml
Due: taplo

Make basic test work without std feature
  tests/basic.rs
Due: none

Drop unused bytemuck/derive feature
  Cargo.toml
Due: taplo

Enable all-features for docs.rs
  Cargo.toml
Due: taplo

Eliminate use of serde_derive
  Cargo.toml
  src/lib.rs
  src/live.rs
  src/unique.rs
  src/utils.rs
Due: taplo, cargo-rdme

Annotate impls with #[doc(feature = "...")] where appropriate
  src/live.rs
  src/std.rs
  src/unique.rs
  src/utils.rs
Due: none

Re-add criterion as dev-dependency
  Cargo.toml
Due: taplo

Move benchmarks to a separate crate
  Cargo.toml
  benchmarks/Cargo.toml
  benchmarks/README.md
  benchmarks/benches/access.rs
Due: taplo

bench: Suppress clippy::redundant_closure lint
  benches/access.rs
Due: none

Setup Github Actions
  .github/workflows/rustfmt.yml
  .github/workflows/spellcheck.yml
  .github/workflows/test.yml
Due: none

Bump version v0.1.0
  Cargo.toml
Due: taplo

ci: Don't rebuild cargo-rdme if present
  .github/workflows/test.yml
Due: none

ci: Fix syntax error in bash script checking for cargo-rdme
  .github/workflows/test.yml
Due: none

ci: Properly exclude benchamarks crate
  .github/workflows/test.yml
Due: none

ci: Install cargo-rdme with taiki-e/install-action
  .github/workflows/test.yml
Due: none

Justfile: Ignore old commits when checking for typos
  Justfile
Due: none

Upgrade criterion to v0.8
  benchmarks/Cargo.toml
Due: taplo

On nightly, use std::thread::current_id()
  benchmarks/Cargo.toml
  benchmarks/benches/access.rs
  benchmarks/build.rs
  src/lib.rs
  src/std.rs
Due: taplo, cargo-rdme

Add cfg-if dependency to benchmarks
  benchmarks/Cargo.toml
Due: taplo

Implement bytemuck::NoUninit for StdThreadId
  src/std.rs
Due: none

Bump version to v0.1.1
  Cargo.toml
Due: taplo

ci: Use Rust 1.92 to run clippy
  .github/workflows/test.yml
Due: none

Revert "Implement bytemuck::NoUninit for StdThreadId"
  src/l
  src/std.rs
Due: none

Bump version to v0.1.2
  Cargo.toml
Due: taplo
